/* Filter container styles */
.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Add some space below the filter container */
  width: 100%; /* Ensure the filter container takes full width */
  font-size: 20px;
  margin-left: 25.5%;
  width: 20%;
}

.filter-container label {
  color: #fff; /* White text color */
  margin-right: 10px; /* Add some space between label and select box */
}

.filter-container select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #fff; /* White border */
  background-color: #840032; /* Main color */
  color: #fff; /* White text color */
  cursor: pointer;
  max-width: 135px; /* Adjust as needed */
  width: 100%; /* Ensure select takes full width */
  font-size: 15px;
}

/* Post container styles */
.post {
  background-color: #fff;
  padding: 10px;
  margin: 20px auto; /* Center the post */
  border-radius: 25px;
  word-wrap: break-word;
  font-family: "Times New Roman", Times, serif;
  color: #840032; /* Main color text */
  display: block; /* Ensure it's a block-level element */
  margin-bottom: 20px;
}

.post-list .post {
  width: 50%;
  border-radius: 25px;
}

.post-container {
  /* margin-top: 00px; */
  padding: 20px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #840032; /* Main color background */
  color: #fff; /* White text */
}

.post-container .post {
  margin-top: 2%;
}

.post-container .post p {
  max-width: 100%;
  word-wrap: break-word;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}

.post-container h1 {
  font-size: 62px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  color: #fff; /* Change the color to match your design */
  margin-bottom: 10px;
  text-align: center;
}

.post-list {
  margin-top: 0px;
}
.post-list h1 {
  font-size: 62px;
  margin-bottom: 5px;
  text-align: center;
}
.post-list h2 {
  font-size: 25px;
  margin-bottom: 5px;
  text-align: center;
}

.post-list ul {
  list-style-type: decimal;
  margin-left: 20px;
}

.post-container .post-list ul li {
  max-width: 100%;
  word-wrap: break-word;
  font-family: "Times New Roman", Times, serif;
}

.post-header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.post-interactions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.interaction-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  font-size: 0.9rem; /* Size of the text next to icons */
}

.interaction-button img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.post-details-home {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;
}

.report-message {
  text-align: center;
  margin-top: 6px;
}
