.post-container {
  max-width: 600px;
  margin-top: 0;
  margin: 20px 0 20px 20px; /* Adjust margin as needed */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

textarea {
  width: calc(100% - 20px); /* Adjust width and subtract padding */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #0e0728;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #840032;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #5e0125;
}

.post-list {
  float: left; /* Align posts to the left */
  margin-left: 20px; /* Add some space between textarea and posts */
}

.post-list h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.post-list ul {
  list-style-type: none;
  padding: 0;
}

.post-list li {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}