.change-password-container {
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
  }
  
  .change-password-container h1 {
    margin-top: 40%;
    color: white;
  }
  
  .change-password-container .password-form {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
  }
  
  .change-password-container .form-group {
    margin-bottom: 15px;
  }
  
  .change-password-container .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  
  .change-password-container .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .change-password-container button.change-password-button {
    background-color: white;
    color: #840032;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    margin: auto;
    margin-top: 2%;
    font-weight: bold;
    font-size: 15px;
  }
    