.share-page {
  padding: 20px;
  background-color: whitesmoke;
  color: #fff;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-y: auto;
}
.share-page h3 {
  font-size: 50px;
  margin-bottom: 10px;
  max-width: 100%;
  overflow-wrap: break-word;
  text-align: center;
  margin-top: 4%;
  color: #840032;
}
.share-page .post {
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #840032;
}

.share-page .post h2 {
  margin: 0;
  text-align: center;
  padding-bottom: 10px;
  max-width: 100%;
  overflow-wrap: break-word;
}

.share-page .post p {
  margin-top: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
}

.share-page .comments-container {
  padding: 20px;
}

.share-page .comments-container h3 {
  font-size: 50px;
  margin-bottom: 10px;
  max-width: 100%;
  overflow-wrap: break-word;
  text-align: center;
}

.share-page .comments-list {
  margin-bottom: 20px;
}

.share-page .comment {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  font-family: "Times New Roman", Times, serif;
  color: #840032;
  display: block;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);
}

.share-page .comment p {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}

.share-page .comment-interactions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
}

.share-page .comment-interactions .interaction-button {
  background: none;
  border: none;
  cursor: default;
  padding: 8px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.share-page .comment-interactions .interaction-button img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.share-page .comment-interactions .interaction-count {
  margin-right: 10px;
}

.post-details-comment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #840032;
}

.comment-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.loading-post {
  text-align: center;
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #840032;
}

.error-message-share {
  display: grid;
  text-align: center;
  place-items: center;
  height: 100%;
}
