/* Style for the container div */
.report-page {
  display: block;
}

/* Style for the header */
.report-page h1 {
  margin-bottom: 10px;
  margin-top: 7%;
  color: white;
  text-align: center;
}

/* Style for the container of reported posts */
.report-page .reported-posts-container {
  border-radius: 5px;
  padding: 10px;
}

/* Style for each reported post */
.report-page .reported-post {
  margin-bottom: 20px;
}

/* Style for the title of each reported post */
.report-page h2 {
  font-size: 20px;
  margin-bottom: 5px;
}
