.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 13x;
  color: #840032;
}

.menu-icon {
  width: 20px;
  height: auto;
  margin-right: 5px;
  cursor: pointer;
}

.navbar-logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
}

.navbar-left {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 3.5%;
}

.navbar-center input[type="text"] {
  width: calc(100% + 120px);
  max-width: 400px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);
  margin-left: -10%;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-right .user-avatar-home {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-left: 10px;
}

.navbar-right .navbar-name {
  margin-left: 10px;
  width: 100%;
}

.user-name {
  font-weight: bold;
}

.create-post-navbar {
  width: 100px;
  background-color: whitesmoke;
  border: none;
  padding: 8px;
  border-radius: 20px;
  color: #840032;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.create {
  margin-right: 5px;
  font-weight: bold;
  font-size: 15px;
}

.create-post-navbar:hover {
  background-color: rgba(154, 154, 154, 0.4);
}

.plus-icon {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .navbar-center input[type="text"] {
    width: 100%;
    max-width: none;
    display: none;
  }
}
