.feedback-page {
  overflow-x: hidden;
}

.feedback-page .interface-title {
  color: #840032;
  margin-bottom: 3%;
}

.feedback-page .admin-feedback-interface {
  padding: 20px;
  border-radius: 5px;
}

.feedback-page .admin-feedback-interface .interface-title {
  margin-top: 5%;
  text-align: center;
  margin-left: 24%;
}

.feedback-page .user-feedback-interface {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  border-radius: 10px;
  margin-left: 23%;
}

.feedback-page .send-feedback-button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  background-color: white;
  color: #840032;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.feedback-page .feedback-input {
  width: 50%;
  height: 180px;
  margin-top: 10px;
  padding: 10px;
  resize: none;
  border-radius: 5px;
  margin-bottom: 1%;
  font-size: 18px;
  color: #840032;
  border: 1px solid grey;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);
}

.feedback-page .feedback-list {
  text-align: center;
  margin-top: 3%;
  background-color: whitesmoke;
  width: 100%;
  margin-left: 12%;
}

.feedback-page .feedback-item {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 65%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);
  margin-left: auto;
  margin-right: auto;
  color: #840032;
  word-wrap: break-word;
}

.feedback-page .remaining-feedback-characters {
  color: #840032;
  margin-bottom: 0.33%;
}

.feedback-page .error-message-feedback {
  color: #840032;
  margin-top: 3%;
}
