.feedback-page .interface-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.feedback-page .admin-feedback-interface .interface-title {
  margin-top: 6%;
}

.feedback-page .admin-feedback-interface {
  padding: 20px;
  border-radius: 5px;
}

.feedback-page .user-feedback-interface {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  border-radius: 10px;
}

.feedback-page .send-feedback-button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  background-color: white;
  color: #840032;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.feedback-page .feedback-input {
  width: 50%;
  height: 180px;
  margin-top: 10px;
  padding: 10px;
  resize: none;
  border-radius: 5px;
  margin-bottom: 1%;
  font-size: 18px;
  color: #840032;
}

.feedback-page .feedback-list {
  margin-top: 30px;
  text-align: center;
}

.feedback-page .feedback-item {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 65%;
  /* max-width: 800px; */
  margin-left: auto;
  margin-right: auto;
  color: #840032;
  word-wrap: break-word;
}

.feedback-page .remaining-feedback-characters {
  color: white;
  margin-bottom: 0.33%;
}

.feedback-page .error-message-feedback {
  color: white;
  margin-top: 1%;
}
