.sidebar-wrapper {
  margin: 15%;
}

.sidebar {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 50px;
  background-color: whitesmoke;
}

.menu-option {
  padding: 15px 20px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 16px;
  color: #840032;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 7px;
}

.menu-option:hover {
  background-color: white;
}

.sidebar-icons {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
