.vs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #840032;
}

.verification-success-container {
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  text-align: center;
}

.verification-success-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}

.verification-success-container p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: white;
}

.verification-success-container .home-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #840032;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: bold;
}
