.profile-container {
  background: #f5f5f5;
  border-radius: 15px;
  padding: 2rem;
  width: 750px;
  margin-top: 5%;
  margin-left: 35%;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.profile-input-group .email-input input {
  width: 100%;
}

.profile-header h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #333;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.email-info,
.name-info,
.date-info,
.change-password-profile-container {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.email-info {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.name-info {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.date-info {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.change-password-profile-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.email-info label,
.name-info label,
.date-info label {
  font-weight: bold;
  margin-bottom: 10px;
}

.email-info input,
.name-info input,
.date-info input {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  pointer-events: none;
  border: 1px solid grey;
  text-align: center;
}

.change-password-profile-container button {
  background-color: #840032;
  font-weight: bold;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: calc(100% - 20px);
  margin-top: 20px;
}

.posts-section h2 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 2rem;
  text-align: center;
}

.avatar-selection h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.avatar-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar-option {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-post-conatiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  overflow-y: auto;
  max-height: 170px;
  margin-top: 2rem;
}

.profile-post-conatiner h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.user-profile-post {
  width: 100%;
  background-color: #840032;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 25px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-profile-post h3 {
  margin: 0 auto;
}

.delete-icon-userprofile {
  width: 20px;
  height: 20px;
  justify-self: end;
}
